{
	"env": {
		"browser": true,
		"es6": true,
		"jest": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "tsconfig.json",
		"tsconfigRootDir": "."
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier/@typescript-eslint"
	],
	"plugins": ["react", "react-hooks", "@typescript-eslint", "prettier"],
	"rules": {
		"react/prop-types": "off",
		"@typescript-eslint/ban-types": "warn",
		"@typescript-eslint/no-empty-interface": "off"
		// ,"@typescript-eslint/explicit-function-return-type": "off"
		// Place to specify ESLint rules.
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
